/venv/bin
*.h
*.pyc
/venv/lib/python3.10/email/mime
*.txt
*.py
*.tcl
*.dylib
*.a
*.pc
/venv/lib/python3.10/config-3.10-darwin
*.bat
*.ctypes
*.rst
/venv/lib/python3.10/distutils
*.so
/venv/lib/python3.10/site-packages/pip-25.3.dist-info/licenses/src/pip/_vendor/pkg_resources
/venv/ssl
/venv
